{{ define "base" }}
<!doctype html>
<html lang="en-US">
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="/static/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="DOQ" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link
      rel="preload"
      href="/static/font/geist.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" type="text/css" href="/static/style/index.css" />
  </head>
  <body>
    <main>{{block "content" .}}{{end}}</main>
  </body>
</html>
{{ end }}
