{{ define "content" }}
<section class="privacy">
  <a hx-boost="true" href="/">
    <img draggable="false" width="72" height="44" src="/static/img/doq.png" />
  </a>
  <h1>Privacy Policy</h1>
  <p class="muted">
    By using this website, you explicitly consent to the images you take being
    stored in a location accessible only to DOQ, the team behind this website.
  </p>
  <h2>Photo deletion</h2>
  <p class="muted">
    Would you like an image to be removed you have every right to do so. Send an
    e-mail to <a class="link" href="mailto:doq@kth.it">doq@kth.it</a> and we'll
    resolve it from there.
  </p>
  <p class="muted">
    Please keep in mind that as we do not store any identifiable data, except
    for a timestamp of when the photo was taken, deletion might take up to 30
    days.
  </p>
  <h2>Cookies</h2>
  <p class="muted">We do not use cookies on this website.</p>
</section>
{{ end }}
